.cmp-update .btn-submit {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cmp-update .avatar-loader {
  margin-top: 16px;
}

.cmp-update .form-wrap {
  margin-top: 10%;
  background-color: #fff;
}

.cmp-update .upload-wrap {
  width: 120px;
  height: 120px;
  border: 1px dashed crimson;
}